body {
  margin: 0;
  background: #1C1C1C;
  font-family: 'Roboto', sans-serif;
}

#root {
  width: 317px;
  margin: auto;
  background: #1A1B21;
  color: #FFFFFF;
}

.App {
  text-align: center;
  text-align: -webkit-center;
  margin: 20px 0;
}

.info--container {
  text-align: center;
  text-align: -webkit-center;
}

.info--image {
  width: 317px;
  border-radius: 20px 20px 0 0;
}

.info--name {
  font-size: 25px;
  margin-bottom: 0;
}

.info--title {
  font-weight: 300;
  font-size: 13px;
  margin: 0;
  margin-top: 10px;
  line-height: 15.5px;
}

.info--email {
  font-weight: 300;
  font-size: 10px;
  margin: 10px 0;
  line-height: 15.5px;
}

.info--buttons {
  width: 260px;
  display: flex;
  justify-content: space-around;
}

.info--buttons > button {
  width: 120px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.info--buttons > button > svg {
  margin-right: 5px;
}
.info--linkedin-button {
  background-color: #5093E2;
}
.info--linkedin-button > svg {
  background-color: #FFFFFF;
  border-radius: 16%;
}

.about--container {
  width: 260px;
  text-align: justify;
}
.about--container > h2 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 0;
}
.about--container > p {
  font-size: 13px;
  font-weight: 100;
  margin-top: 5px;
  margin-bottom: 10px;
}

.footer--container {
  text-align: center;
  text-align: -webkit-center;
  background: #161619;
  border-radius: 0 0 20px 20px;
}
.footer--icons {
  width: 150px;
  justify-content: space-evenly;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer--icon {
  color: #1a1b21;
  background: white;
  padding: 3px;
  border-radius: 3px;
  cursor: pointer;
}